
#li{
    transform: translateY(30px);
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    height: 60px;
    width: 350px;
    animation: li ease 3s;
}

@keyframes li {
    0%{opacity: 0;}
}

#h1{
    margin: auto;
    transform: translateY(0px);
    text-align: center;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    height: 100px;
    width: 600px;
    animation: h1 ease 2s;
}


#h2{
  margin: auto;
  margin-top: 250px;
  transform: translateY(0px);
  text-align: center;
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  height: 400px;
  width: 1300px;
}

@keyframes h1 {
    0%{transform: translateY(-200px); opacity: 0;}
    100%{transform: translateY(0px);}
}

.hr{
    border: solid 3px;
    width: 600px;
    border-radius: 16px;
    text-align: center;
    animation: hr ease-in-out 2s;
}

@keyframes hr {
    0%{width: 100px; opacity: 0;}
}
















/* CSS-only ORCHID - 2016-05-28 eCp */
/* grassy background & flower stem by gradients */
orchid-twig {
    display: block; /* custom element is inline by default */
    height: 80vh;
    width: 80vw;
    margin: 0 auto 2vw;
    margin-top: 5vw;
    border-radius: 16px;
    box-shadow: 0 0 2vw hsla(0, 0%, 0%, .5);
    position: relative;
    border: solid white 5px;
    animation: BoxMove ease 2s;
    background-image: radial-gradient(farthest-corner at 140vw 85vh, 
          transparent 0%, 
          rgb(43, 41, 41) 71%, 
          rgb(3, 49, 28) 71.5%, 
          rgb(5, 59, 35) 72.5%, 
          rgb(5, 61, 36) 73%, 
          transparent 0%),
      linear-gradient(125deg, rgb(31, 32, 30), hsla(90, 50%, 70%, 0) 70.71%),
      linear-gradient(217deg, hsla(0, 3%, 15%, 0.9), hsla(120, 100%, 90%, 0) 80.71%),     
      linear-gradient(25deg, rgb(48, 45, 45), hsla(75, 40%, 40%, 0) 70.71%),      
      linear-gradient(325deg, rgb(53, 56, 52), hsla(100, 25%, 50%, 0) 70.71%);
  }

  @keyframes BoxMove{
    0%{margin-top: 50vw;}
    100%{margin-top: 5vw;}
  }
  
  /* orchid-flower - shared sizes, form, color & perspective on flower hart  */
  orchid-flower {
    height: 12vw;
    width: 12vw;
    border-radius: 6vw;
    box-shadow: 0 0 12vw 4vw indigo;
    perspective: 90px;
    position: absolute;
  }
  
  /* per orchid-flower: position on the flower stem & transforms */
  orchid-flower:nth-of-type(1) {
    top: 40vh;
    left: 6vw;
    transform: scale(0.9, 0.9) rotate(-35deg);
  }
  
  orchid-flower:nth-of-type(2) {
    top: 24vh;
    left: 28vw;
    transform: scale(0.75, 0.75) rotate(15deg);
  }
  
  orchid-flower:nth-of-type(3) {
    top: 12vh;
    left: 50vw;
    transform: scale(0.65, 0.65) rotate(-10deg);
    z-index: 2; /* over previous flower & next flowerbud */
  }
  
  /* all flower harts */
orchid-flower::after {
    content: "";
    display: block;
    position: absolute;
    top: 1vw;
    left: 3vw;
    height: 9vw;
    width: 6vw;
    background: rgba(255, 255, 224, .9);
    background: linear-gradient(to right, 
          rgba(255, 255, 224, .8), rgb(134, 30, 130) 10%, rgba(247, 247, 247, 0.952) 100%);

    border: 1px solid lemonchiffon;
    border-radius: 5vw;
    box-shadow:
    0 0 5vw midnightblue,
    0 0 1vw rgb(0, 0, 0),
    .1vw .1vw .25vw ivory inset,
    0 4vw 4vw rgba(129,29,95,255) inset, /* orange */
    0 -0.5vw 0.5vw rgba(178, 119, 207, 0.384) inset,  /* mediumorchid */
    0 0 5vw rgb(127, 68, 156) inset;
    transform: rotateX(15deg);
    animation: columnmove ease-in-out 7s infinite;
  }

  @keyframes columnmove{
    0%{transform: rotateX(15deg);}
    50%{transform: rotateX(5deg);}
    100%{transform: rotateX(15deg);}
  }
  
  /* general styling of flower leaves and bud */
  orchid-petal,
  orchid-bud {
    border: .3vw solid lemonchiffon;
    position: absolute;
    height: 12vw;
    width: 16vw;
  }
  
  /* position, (de)form and color individual flower leaves */
  orchid-petal:nth-child(1) {
    top: -10vw;
    left: -2.5vw;
    background: lightyellow;
    background: radial-gradient(farthest-corner at 150% -50%, 
          lightyellow 25%, rgb(90, 4, 90) 73%, lightyellow 95%);
    height: 18vw;
    width: 14vw;
    border-radius: 1vw 10vw 4vw 12vw;
    box-shadow:
      0 0 2vw indigo,
      .15vw .15vw .25vw rgba(255,255,240,.5) inset, /* ivory */
      .5vw .5vw 3vw rgba(134, 30, 131, 0.7) inset, /* pink */
      -3vw -3vw 7vw rgba(110, 18, 110) inset; /* darkorchid */
    transform: rotate(40deg);
    animation: child1move ease-in-out 7s infinite;
  }

  @keyframes child1move{
    0%{transform: rotate(40deg);}
    50%{transform: rotate(30deg);}
    100%{transform: rotate(40deg);}
  }
  
  orchid-petal:nth-child(2) {
    top: 6.5vw;
    left: 5vw;
    background: lemonchiffon;
    background: radial-gradient(farthest-corner at 150% -50%, 
          lemonchiffon 25%, rgb(77, 3, 77) 73%, lemonchiffon 95%);
    border-radius: 8vw 10vw 3vw 10vw;
    box-shadow:
      0 0 2vw indigo,
      .15vw .15vw .25vw rgba(255, 255, 240, .5) inset, /* ivory */
      .5vw .5vw 3vw rgba(134, 30, 131, 0.7) inset, /* pink */
      5vw 3vw 9vw rgba(110, 18, 110) inset; /* darkorchid */
    transform: rotate(10deg);
    animation: child2move ease-in-out 7s infinite;
  }

  @keyframes child2move{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(0deg);}
    100%{transform: rotate(10deg);}
  }
  
  
  orchid-petal:nth-child(3) {
    top: -4vw;
    left: 7.5vw;
    background: lightyellow;
    background: radial-gradient(farthest-corner at 150% -50%, 
          lemonchiffon 25%, rgba(128, 0, 128) 73%, lemonchiffon 95%);
    border-radius: 3vw 10vw 1.5vw 10vw;
    height: 12vw;
    width: 15vw;
    box-shadow:
      0 0 2vw indigo,
      .15vw .15vw .25vw rgba(255, 255, 240, .5) inset, /*ivory*/
      .5vw -.5vw 3vw rgba(134, 30, 131, 0.7) inset, /*orchid*/
      2vw 0 5vw rgb(110, 18, 110) inset; /* mediumorchid try .5 */
    transform: rotate(295deg);
    animation: child3move ease-in-out 7s infinite;
}

@keyframes child3move{
  0%{transform: rotate(295deg);}
  50%{transform: rotate(285deg);}
  100%{transform: rotate(295deg);}
}


  orchid-petal:nth-child(4) {
    top: 8vw;
    left: -7.75vw;
    background: lightyellow;
    background: radial-gradient(farthest-corner at 150% -50%, 
          lightyellow 25%, rgb(77, 3, 77) 73%, lightyellow 95%);
    border-radius: 1vw 10vw 5vw 12vw;
    box-shadow:
      0 0 2vw indigo,
      .15vw .15vw .25vw rgba(255, 255, 240, .5) inset, /*ivory*/
      .5vw .5vw 3vw rgba(134, 30, 131, 0.7) inset, /*pink*/
      -6vw -3vw 9vw rgba(110, 18, 110) inset; /* darkorchid try .7 */
    transform: rotate(-65deg);
    animation: child4move ease-in-out 7s infinite;
}

@keyframes child4move{
  0%{transform: rotate(-65deg);}
  50%{transform: rotate(-85deg);}
  100%{transform: rotate(-65deg);}
}
  
  orchid-petal:nth-child(5) {
    top: -2vw;
    left: -12vw;
    background: lemonchiffon;
    background: radial-gradient(farthest-corner at 150% -50%, 
          lemonchiffon 25%, rgb(90, 4, 90) 73%, lemonchiffon 95%);
    border-radius: .5vw 10vw 5vw 12vw;
    box-shadow:
      0 0 2vw indigo,
      .15vw .15vw .25vw rgba(255, 255, 240, .5) inset, /*ivory*/
      .5vw .5vw 3vw rgba(134, 30, 131, 0.7) inset, /*pink*/
      -2vw -2vw 7vw rgb(163, 54, 163)  inset; /* mediumorchid try .5 */
    transform: rotate(-20deg);
    animation: child5move ease-in-out 7s infinite;
}

@keyframes child5move{
  0%{transform: rotate(-20deg);}
  50%{transform: rotate(-30deg);}
  100%{transform: rotate(-20deg);}
}
  
  /* flower bud: own position, no flower leaves or hart */
  orchid-bud {
    background: lemonchiffon;
    background: radial-gradient(farthest-corner at 150% -50%, 
          lemonchiffon 35%, rgb(77, 3, 77) 73%, lemonchiffon 95%);
    border: .3vw solid lemonchiffon;
    border-radius: 6vw 12vw 2vw 12vw;
    box-shadow:
      0 0 2vw indigo,
      .15vw .15vw .25vw rgba(255, 255, 240, .5) inset, /*ivory*/
      -.5vw -.5vw 3vw rgb(128, 17, 128) inset, /*pink*/
      1vw -3vw 9vw rgba(105, 23, 146, 0.9) inset; /* darkorchid */
  }
  
  orchid-bud:nth-of-type(1) {
    top: 8vh;
    left: 62vw;
    border-radius: 6vw 12vw 2vw 12vw;
    transform:  scale(0.6, 0.7) rotate(0deg);
    z-index: 1; 
    animation: budchild1 infinite ease-in-out 7s;
  }

  @keyframes budchild1{
    0%{transform: rotate(0deg) scale(0.6, 0.7); }
    50%{transform: rotate(10deg) scale(0.6, 0.7);}
    100%{transform: rotate(0deg) scale(0.6, 0.7);}
  }
  
  orchid-bud:nth-of-type(2) {
    top: 4vh;
    left: 68vw;
    border-radius: 4vw 12vw 1vw 12vw;
    transform:  scale(0.45, 0.45) rotate(15deg);
    animation: budchild2 infinite ease-in-out 7s;
}

@keyframes budchild2{
  0%{transform: translateY(-10px) rotate(15deg) scale(0.45, 0.45); }
  50%{transform: translateY(-8px) rotate(5deg) scale(0.45, 0.45);}
  100%{transform: translateY(-10px) rotate(15deg) scale(0.45, 0.45);}
}
  
  body {
    background: rgb(43, 41, 41);
    color: #ffffff;
  }
  
